.checkBox-container {
  font: normal normal normal 12px/18px Montserrat;
  color: #707070;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  input[type='checkbox']{
    margin-left: 10px;
  }
  }


